<form class="row g-3" [formGroup]="addItem" (ngSubmit)="onSubmit()">
    <div class="col-md-3">
      <input type="text" formControlName="title" class="form-control" placeholder="Add Item">
    </div>
    <div class="col-md-6">
      <textarea type="text" formControlName="note" class="form-control" placeholder="Note" rows="1"></textarea>
    </div>
    <div class="col-md-12">
      <button type="submit" class="btn btn-success mb-3 mx-1" [disabled]="!addItem.valid">Submit</button> 
      <button type="button" class="btn btn-danger mb-3" (click)="Cancel()">Cancel</button>
    </div>
</form>
